/* 
Color Palette
rgb(34, 40, 49) Dark
rgb(57, 62, 70) Grey
rgb(0, 173, 181) LightBlue
rgb(238, 238, 238) OffWhite


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: rgb(34, 40, 49);
    color: rgb(238, 238, 238);
    height: 100%;
}

.header {
    width: 100%;
    margin: 0 auto;
    height: 400px;
    text-align: center;
    color: rgb(238, 238, 238);
}


h1 {
    padding: 20px;
    font-size: 3rem;
    margin-top: 150px;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
    padding: 10px;
}

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    margin: 100px;
}

.form-container {


    background-color: rgb(57, 62, 70);
    padding: 20px;
    width: 50%;
    height: 50%;


    text-align: center;
    border-radius: 5px;
    border: rgb(238, 238, 238) 1px solid;

}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid lightslategray;
    border-radius: 5px;

}

textarea {
    border-radius: 5px;
    border: none;
    resize: none;
    padding: 3px;
    width: 100%;
    margin-top: 20px;
}

input[type=submit]:hover {
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    
}



li {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px auto;

}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 173, 181);
    padding: 20px;
}

a:hover {
    cursor: pointer;
    color: rgb(238, 238, 238);
}

a.about-me-link {
    display: flex;
    justify-content: right;
  
}

button {
    padding: 10px;

}

button:hover {
    color: rgb(238, 238, 238);
    background-color: rgb(0, 173, 181);
}